image: docker

## SETUP CI/CD STARTS HERE ##
services:
  - name: docker:dind
    command: ["--dns", "8.8.8.8", "--registry-mirror", "https://mirror.gcr.io"]

variables:
  DOCKER_DRIVER: overlay2
  CACHE_IMAGE: "${DOCKER_REGISTRY_ADDR}/portal-data-backend"
  DB_CACHE_IMAGE: "${DOCKER_REGISTRY_ADDR}/portal-data-db"
  DOCKER_BUILDKIT: 1
  CONTAINER_NAME: portal-data-backend

before_script:
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add $SSH_PRIVATE_KEY
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "$SSH_KNOWN_HOSTS" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

## SETUP CI/CD ENDS HERE ##

stages:
  - build
  - deploy

### BUILD STAGE STARTS HERE ###
build-dev:
  stage: build
  environment: development
  script:
    - cp "$APP_ENV_DEV" .env
    - cp "$DB_ENV_DEV" .env.db
    - echo "$DOCKER_REGISTRY_PASSWORD" | docker login "$DOCKER_REGISTRY_ADDR" --username "$DOCKER_REGISTRY_USERNAME" --password-stdin
    - DOCKER_BUILDKIT=1 docker build -f .docker/app/DockerFile . --tag $CACHE_IMAGE:dev-latest  --cache-from $CACHE_IMAGE:dev-latest --build-arg BUILDKIT_INLINE_CACHE=1
    - DOCKER_BUILDKIT=1 docker build -f .docker/database/DockerFile . --tag $DB_CACHE_IMAGE:dev-latest  --cache-from $DB_CACHE_IMAGE:dev-latest --build-arg BUILDKIT_INLINE_CACHE=1
    - docker push "$CACHE_IMAGE":dev-latest
    - docker push "$DB_CACHE_IMAGE":dev-latest
  only:
    - dev

build-prod:
  stage: build
  environment: production
  script:
    - cp "$APP_ENV_PROD" .env
    - cp "$DB_ENV_PROD" .env.db
    - echo "$DOCKER_REGISTRY_PASSWORD" | docker login "$DOCKER_REGISTRY_ADDR" --username "$DOCKER_REGISTRY_USERNAME" --password-stdin
    - DOCKER_BUILDKIT=1 docker build -f .docker/app/DockerFile . --tag $CACHE_IMAGE:latest  --cache-from $CACHE_IMAGE:latest --build-arg BUILDKIT_INLINE_CACHE=1
    - DOCKER_BUILDKIT=1 docker build -f .docker/database/DockerFile . --tag $DB_CACHE_IMAGE:latest  --cache-from $DB_CACHE_IMAGE:latest --build-arg BUILDKIT_INLINE_CACHE=1
    - docker push "$CACHE_IMAGE":latest
    - docker push "$DB_CACHE_IMAGE":latest
  only:
    - main

### BUILD STAGE ENDS HERE ###

### DEPLOY STAGE STARTS HERE ###
deploy-dev:
  stage: deploy
  environment: development
  script:
    - cp "$APP_ENV_DEV" .env
    - cp "$DB_ENV_DEV" .env.db
    - echo "$DOCKER_REGISTRY_PASSWORD" | docker login "$DOCKER_REGISTRY_ADDR" --username "$DOCKER_REGISTRY_USERNAME" --password-stdin
    - DOCKER_HOST="ssh://$INSTANCE_DEV_USER@$INSTANCE_DEV_IP" IMAGE_TAG="dev-latest" docker compose -f docker-compose.dev.yml --env-file=.env.db --env-file=.env pull
    - DOCKER_HOST="ssh://$INSTANCE_DEV_USER@$INSTANCE_DEV_IP" IMAGE_TAG="dev-latest" docker compose -f docker-compose.dev.yml --env-file=.env.db --env-file=.env down
    - DOCKER_HOST="ssh://$INSTANCE_DEV_USER@$INSTANCE_DEV_IP" IMAGE_TAG="dev-latest" docker compose -f docker-compose.dev.yml --env-file=.env.db --env-file=.env up -d
  only:
    - dev

deploy-prod:
  stage: deploy
  environment: production
  script:
    - cp "$APP_ENV_PROD" .env
    - cp "$DB_ENV_PROD" .env.db
    - echo "$DOCKER_REGISTRY_PASSWORD" | docker login "$DOCKER_REGISTRY_ADDR" --username "$DOCKER_REGISTRY_USERNAME" --password-stdin
    - DOCKER_HOST="ssh://$INSTANCE_PRODUCTION_USER@$INSTANCE_PRODUCTION_IP" IMAGE_TAG="latest" docker compose -f docker-compose.prod.yml --env-file=.env.db --env-file=.env pull
    - DOCKER_HOST="ssh://$INSTANCE_PRODUCTION_USER@$INSTANCE_PRODUCTION_IP" IMAGE_TAG="latest" docker compose -f docker-compose.prod.yml --env-file=.env.db --env-file=.env down
    - DOCKER_HOST="ssh://$INSTANCE_PRODUCTION_USER@$INSTANCE_PRODUCTION_IP" IMAGE_TAG="latest" docker compose -f docker-compose.prod.yml --env-file=.env.db --env-file=.env up -d
  only:
    - main

### DEPLOY STAGE ENDS HERE ###
